@media only screen and (min-device-width: 768px) {
  * {
    font-size: clamp(0.75rem, 0.466rem + 0.57vw, 1.375rem) !important;
    color: #000000 !important;
  }
}

@media only screen and (max-device-width: 768px) {
  * {
    font-size: 12px !important;
    color: #000000 !important;
  }
}

.el-upload.el-upload--text {
  width: 100%;
}

.el-input--suffix .el-input__inner {
  background: #E0F0F4;
}

#dv-full-screen-container {
  background-image: url("./bg_light.png");
  background-size: 100% 100%;
  width: 100% !important;
  height: 100% !important;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  box-shadow: 0 0 3px blue;
  display: flex;
  flex-direction: column;
  transform: scale(1) !important;

}

.el-input.el-input--suffix {
  height: 100%;
}

.el-input.el-input--suffix input,
.el-input.el-input--suffix input:hover,
.el-select .el-input.is-focus .el-input__inner,
.el-select .el-input__inner:focus,
.el-select .el-input.is-disabled .el-input__inner:hover,
.el-select .el-input .el-select__caret:hover~.el-input.el-input--suffix input {
  border-color: #3f96a5 !important;
  /* color: white !important; */
  background: #E0F0F4 !important;
  height: 100% !important;
  padding: 0px;
  padding-left: 5%;
  margin-right: 2px;
  padding-right: 15%;
}

.el-select.turbine-version:hover::after,
.el-select.time-btn:hover::after {
  position: absolute;
  left: 6px;
  top: 122%;
  background-color: #b2b2b2;
  border-radius: 0px;
  /* color: #000000; */
  /*这里显示的内容为title属性对应的值*/
  content: attr(mtitle);
  z-index: 2;
  width: 90%;
}

.el-upload.el-upload--text {
  height: 100%;
}


.el-select-dropdown.el-popper {
  margin-left: 0px !important;
  background: #E0F0F4 !important;
  border: 0px;
}

.el-scrollbar__view.el-select-dropdown__list {
  background: #E0F0F4 !important;
  padding: 0px;
}

.el-input.is-disabled .el-input__inner,
.el-input.is-disabled input::placeholder {
  border-color: #2D9AB1 !important;
  /* color: rgb(69, 69, 69) !important; */
  background: #E0F0F4;
}

.el-input.el-input--suffix input::placeholder {
  width: 100% !important;
}

.el-input.is-disabled input::placeholder {
  border-color: #2D9AB1 !important;
  background: #E0F0F4;
}

.el-input.is-disabled input::placeholder {
  border-color: #2D9AB1 !important;
  /* color: rgb(120, 120, 120) !important; */
  background: rgba(255, 255, 255, 0) !important;
  transform: scale(1);
  text-align: left;
  width: 76%;
  transform: scale(1);
  /* 用缩放来解决 */
  transform-origin: left center;
  /* 左对齐 */
}

.el-button.el-button--primary.el-button--small {
  height: 100% !important;
}

.el-button.el-button--primary.el-button--small.is-disabled {
  background-color: #2D9AB1;
  /* color: rgb(180, 180, 180) !important; */
}

.el-input__icon.el-range__icon.el-icon-time input,
.el-date-editor--datetimerange.el-input,
.el-date-editor--datetimerange.el-input__inner {
  height: 100%;
  background: #E0F0F4 !important;
  border-color: #2D9AB1 !important;
  /* color: rgb(69, 69, 69) !important; */
  background: #E0F0F4;
}

.el-date-editor .el-range-input {
  background: #E0F0F4 !important;
  /* color: white; */
}

.el-input__icon.el-range__icon.el-icon-time,
.el-range-separator {
  height: 100%;
  line-height: 100% !important;

  vertical-align: middle;
  text-align: center;
}

.el-input__icon.el-range__icon.el-icon-time::before {
  height: 100%;
  line-height: 100% !important;
  vertical-align: middle;
  transform: translateY(-50%);
}

.el-picker-panel__body,
.el-picker-panel__footer,
.el-picker-panel__content.el-date-range-picker__content.is-left,
.el-picker-panel__content.el-date-range-picker__content.is-right .el-button.el-picker-panel__link-btn.el-button--default.el-button--mini.is-disabled.is-plain .el-button.is-disabled.is-plain,
.el-button.is-disabled.is-plain:focus,
.el-button.is-disabled.is-plain:hover,
.el-time-panel,
.el-date-range-picker__editor.el-input.el-input--small,
.el-input__inner {
  background: #E0F0F4 !important;
}

.el-picker-panel__footer button,
.el-picker-panel__footer button:hover,
.el-button.el-picker-panel__link-btn.el-button--default.el-button--mini.is-disabled.is-plain:hover {
  background: #2D9AB1 !important;
  border: 0px;

}

.el-button.el-picker-panel__link-btn.el-button--default.el-button--mini.is-plain,
.el-button.el-picker-panel__link-btn.el-button--default.el-button--mini.is-plain:hover {
  background: #2D9AB1 !important;
  border: 0px;
  /* color:white; */
}

.available.in-range.start-date span,
.available.in-range.end-date span {
  /* color:white !important; */
}

.el-time-panel__btn.cancel,
.el-time-panel__btn.confirm,
.el-button.el-picker-panel__link-btn.el-button--text.el-button--mini {
  background: rgba(0, 0, 0, 0) !important;
  color: #3f96a5;
}

.available.today,
.available.today.in-range,
.el-date-table td.today span {
  color: #3f96a5 !important;
}

.available:hover,
.available div:hover {
  color: #3f96a5 !important;
}

.available.in-range.start-date span,
.available.in-range.end-date span {
  background: #3f96a5 !important;
}

.available.in-range div {
  background: #2D9AB1 !important;
  /* color: rgb(200,200,200) !important; */
}

.el-date-range-picker__editor.el-input.el-input--small,
.el-date-range-picker__editor.el-input.el-input--small .el-input__inner,
.el-date-range-picker__editor.el-input.el-input--small.is-disabled,
.el-date-range-picker__editor .el-input.is-disabled .el-input__inner,
.el-date-range-picker__editor .el-input.is-disabled input::placeholder {
  background: #2D9AB1 !important;
  border: 0px;
  /* color: white !important; */
}

.el-time-spinner__item.active {
  /* color: white !important;; */
}

.el-time-spinner__item:hover:not(.disabled):not(.active) {
  background: #2D9AB1 !important;
  /* color: rgb(200,200,200) !important; */

}

.el-picker-panel.el-date-range-picker.el-popper.has-time,
.el-time-panel {
  border: 0px;
}

.el-date-range-picker__time-header {
  border-bottom: 0px;
}

.el-input__icon.el-range__close-icon.el-icon-circle-close {
  height: 100%;
  line-height: 100%;
}

.el-date-range-picker {
  width: 100% !important;
}

.el-date-range-picker .el-picker-panel__body {
  min-width: 100% !important;
}

.el-date-range-picker__header button {
  /* color: white; */
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.el-date-range-picker__content .el-date-range-picker__header div,
.el-date-range-picker__content .el-date-range-picker__header div {
  margin-left: 0px;
  margin-right: 0px;

}

.turbine-input,
.turbine-input:focus,
.turbine-input:active {
  width: 7.8%;
  margin-right: 0.5%;
  float: left;
  background: #E0F0F4;
  height: 100%;
  border: 0px;
  /* color: white !important; */
  border: 1px solid #3f96a5;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
  outline: none;
}

.datapath-input {
  width: 30%;
  float: left;
  background: #E0F0F4;
  height: 100%;
  border: 0px;
  /* color: white !important; */
  border: 1px solid #3f96a5;
  border-radius: 4px;
  margin: 0px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
}

@media only screen and (max-device-width : 768px) {
  .home {
    height: 100%;
  }

  .upload {
    margin-top: 3%;
    width: 21.5%;
    height: 100%;
    padding: 0px;
    float: left;
    margin-left: 2%;
  }

  .turbine-input,
  .turbine-input:focus,
  .turbine-input:active {
    width: 45%;
    margin-right: 2%;
    float: left;
    background: #E0F0F4;
    height: 100%;
    border: 0px;
    /* color: white !important; */
    border: 1px solid #3f96a5;
    border-radius: 4px;
    outline: none;
  }

  .datapath-input {
    width: 70%;
    float: left;
    background: #E0F0F4;
    height: 100%;
    border: 0px;
    /* color: white !important; */
    border: 1px solid #3f96a5;
    border-radius: 4px;
    margin: 0px;
    margin-top: 3%;
  }

  .el-button.el-button--primary.el-button--small,
  .my-btn {
    /* color: white; */
    background: #3f96a5;
    border: 0px;
    height: 100%;
    width: 100%;
    float: left;
    padding: 0px;
    margin-top: 2%;

  }

  .turbine-version {
    width: 46.5%;
    float: left;
    margin-right: 2%;
    height: 100%;
    margin-top: 2%;
  }

  .search-time {
    width: 95%;
    float: left;
    margin-right: 0.5%;
    height: 100%;
    margin-top: 2%;

  }

  .time-btn {
    width: 46.5%;
    float: left;
    margin-right: 0.5%;
    height: 100%;
    margin-top: 1%;

  }

  .top-header {
    height: 100px;
  }

  .upload-line {
    padding-left: 2%;
    width: 100%;
    height: 5%;
  }

  .search-line {
    padding-left: 2%;
    width: 100%;
    height: 5%;
    float: left;
  }

  #power-chart-box {
    margin-top: 60%;
    height: 45%;
    width: 100%;
  }

  .el-date-editor--datetimerange.el-input,
  .el-date-editor--datetimerange.el-input__inner {
    width: 95%;
  }

}

.el-select-dropdown__item.hover,
.option-item:hover {
  background: #2D9AB1 !important;
  color: white;
}

polyline {
  stroke-width: 2;
  fill: transparent;
  stroke: white !important;
}

.center-title {
  color: white !important;
}